.topo{
    padding: 1.25rem 0;
    position: relative;
}
.banner-topo{
    background-color: #f0f0fb;
}
.logo{
    width: 90px;
    height: 60px;
}
.img-dev{
    width: 350px;
    height: 500px;
    border-radius: 50px;

}
.banner-topo h1{
    color: #202a65;
    padding-top: 20px;
}
header{
    background-color: #f8f8f8;
}
.png{
    width: 90px;
    color: #202a65;
}

h2,h4{
    color: #202a65; 
}
.quem-somos{
    background-color: black;
    color: #f0f0fb;
}

.img-palestra{
    position:relative;
	width: 300px;
	height: 300px;
}
.img-slide{
    width: 600px;
    height: 400px;
}
.rodape{
    background-color: black;
    color: #f0f0fb;
}